* {
  box-sizing: border-box;
}

.container-fluid {
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 0;
  margin-bottom: 0;
}

.container-fluid h2 {
  margin-top: 20px;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 1rem;
}

.container__progressbars {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-width: 10px;
  width: 100%;
  min-height: 100%;
}

.progressbar {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 1em;
  transform: rotate(-90deg);
}

.progressbar__svg {
  position: relative;
  width: 100%;
  height: 100%;
}

.progressbar__svg-circle {
  width: 20%;
  height: 20%;
  fill: none;
  stroke-width: 5;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: hsla(0, 0%, 100%, 0.85);
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.shadow-html {
  filter: drop-shadow(1px 1px 5px hsl(15, 100%, 60%));
}

.shadow-css {
  filter: drop-shadow(1px 1px 5px hsl(200, 100%, 60%));
}

.shadow-scss {
  filter: drop-shadow(0 1px 5px hsl(300, 100%, 60%));
}

.shadow-js {
  filter: drop-shadow(0 1px 5px hsl(60, 100%, 60%));
}

.shadow-ts {
  filter: drop-shadow(0 1px 5px hsl(220, 100%, 60%));
}

.shadow-thr {
  filter: drop-shadow(0 1px 5px hsl(133, 76%, 39%));
}

.shadow-node {
  filter: drop-shadow(0 1px 5px hsl(110, 100%, 60%));
}

.shadow-mongo {
  filter: drop-shadow(0 1px 5px hsl(180, 100%, 60%));
}

.shadow-react {
  filter: drop-shadow(0 1px 5px hsl(180, 100%, 60%));
}

.shadow-type {
  filter: drop-shadow(0 1px 5px hsl(0, 100%, 60%));
}

.shadow-bs {
  filter: drop-shadow(0 1px 5px hsl(145, 100%, 60%));
}

.shadow-fg {
  filter: drop-shadow(0 1px 5px hsl(0, 100%, 60%));
}

.shadow-next {
  filter: drop-shadow(0 1px 5px hsl(152, 87%, 49%));
}

.shadow-csharp {
  filter: drop-shadow(0 1px 5px hsl(56, 87%, 49%));
}
.shadow-tw {
  filter: drop-shadow(0 1px 5px hsl(207, 100%, 50%));
}



.circle-html {
  animation: anim_circle-html 2s ease-in-out forwards;
}

.circle-css {
  animation: anim_circle-css 2s ease-in-out forwards;
}

.circle-fg {
  animation: anim_circle-fg 2s ease-in-out forwards;
}

.circle-next {
  animation: anim_circle-next 2s ease-in-out forwards;
}

.circle-scss {
  animation: anim_circle-scss 2s ease-in-out forwards;
}

.circle-js {
  animation: anim_circle-js 2s ease-in-out forwards;
}

.circle-thr {
  animation: anim_circle-thr 2s ease-in-out forwards;
}

.circle-ts {
  animation: anim_circle-ts 2s ease-in-out forwards;
}

.circle-node {
  animation: anim_circle-node 2s ease-in-out forwards;
}

.circle-react {
  animation: anim_circle-react 2s ease-in-out forwards;
}

.circle-mongo {
  animation: anim_circle-mongo 2s ease-in-out forwards;
}

.circle-type {
  animation: anim_circle-type 2s ease-in-out forwards;
}

.circle-bs {
  animation: anim_circle-bs 2s ease-in-out forwards;
}
.circle-csharp {
  animation: anim_circle-csharp 2s ease-in-out forwards;
}

.circle-tw {
  animation: anim_circle-tw 2s ease-in-out forwards;
}



.progressbar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.25em 0.5em;
  color: hsl(0, 0%, 100%);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.25em;
  transform: translate(-50%, -50%) rotate(90deg);
}

@keyframes anim_circle-html {
  to {
    stroke-dashoffset: 22;
  }
}

@keyframes anim_circle-css {
  to {
    stroke-dashoffset: 66;
  }
}

@keyframes anim_circle-scss {
  to {
    stroke-dashoffset: 132;
  }
}

@keyframes anim_circle-js {
  to {
    stroke-dashoffset: 88;
  }
}

@keyframes anim_circle-thr {
  to {
    stroke-dashoffset: 67;
  }
}

@keyframes anim_circle-ts {
  to {
    stroke-dashoffset: 198;
  }
}

@keyframes anim_circle-node {
  to {
    stroke-dashoffset: 230;
  }
}

@keyframes anim_circle-react {
  to {
    stroke-dashoffset: 100;
  }
}

@keyframes anim_circle-type {
  to {
    stroke-dashoffset: 240;
  }
}

@keyframes anim_circle-bs {
  to {
    stroke-dashoffset: 70;
  }
}

@keyframes anim_circle-fg {
  to {
    stroke-dashoffset: 360;
  }
}

@keyframes anim_circle-next {
  to {
    stroke-dashoffset: 90;
  }
}

@keyframes anim_circle-mongo {
  to {
    stroke-dashoffset: 270;
  }
}
@keyframes anim_circle-csharp {
  to {
    stroke-dashoffset: 270;
  }
}
@keyframes anim_circle-tw {
  to {
    stroke-dashoffset: 270;
  }
}

@media screen and (max-width: 820px) {
  #skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
  }
}

@media screen and (max-width: 430px) {
  #skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .progressbar{
    width: 40%;
  }
  .progressbar__svg{
    margin-bottom: 50px;
    margin-top: 10px;
    width: 110%;
    height: 110%;
  }
  .progressbar__text {
    top: 55%;
    left: 55%;
    padding: 0;
  }
}