@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

.about-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 105vh;
    width: 100%;
    margin: 0 auto;
}

.about-title {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.about-body {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.my-text {
    font-size: 1.1rem;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

@media (max-width: 430px) {
    .about-title {
        font-size: 2.5rem;
    }
    .my-text {
        font-size: .8rem;
    }
    .about-body {
        width: 90%;
    }
    .about-container {
        height: 60vh;
    }
}